@media screen and (min-width: 650px) {
  .main-container {
    background-position-y: 80vh;
    padding: 0px;
  }
  .testimonial-container {
    flex-flow: row nowrap;
    justify-content: space-between;
    max-width: 1100px;
    position: relative;
  }
  .testimonial-content-container {
    background-position-x: 20%;
    padding: 30px 0px 0px;
    font-size: 25px;
    line-height: 30px;
    text-align: left;
    width: 55%;
    z-index: 10000;
  }
  .student-photo {
    box-shadow: 10px 15px 10px rgb(0 0 0 / 10%);
  }
  .testimonial-photo-container {
    margin: 0px;
    position: absolute;
    width: 60%;
    right: 0;
  }
  .testimonial-id__name {
    display: inline-block;
    font-size: 18px;
  }
  .testimonial-id__role {
    display: inline-block;
    margin-left: 5px;
    font-size: 18px;
  }
  .switch-icons {
    margin-right: auto;
    margin-left: 15%;
  }

  .attribution {
    background-color: transparent;
    padding: 0px;
    position: absolute;
    bottom: 50px;
    left: 50px;
  }
}
