/* Base styles */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  /* Fonts */
  --main-font: "Inter", sans-serif;

  /* Text colors */
  --main-color: hsl(240, 38%, 20%);
  --second-color: hsl(240, 18%, 77%);
}
/* ScreenReader only */
.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  left: -100000000;
  overflow: hidden;
}

.main-container {
  border: 1px solid magenta;
  background-image: url("../images/pattern-curve.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 0px;
}
/* Testimonial */
.testimonial-container {
  border: 1px solid green;
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: center;
  align-items: center;
}
.testimonial-content-container {
  color: var(--main-color);
  font-family: var(--main-font);
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 25px;
  text-align: center;
  width: 100%;
  padding: 50px 0px 10px;
}
.john-testimonial {
  display: none;
}

.student-photo {
  max-width: 100%;
}

/* Attribution footer*/
.attribution {
  font-size: 14px;
  font-family: var(--main-font);
  text-align: center;
  color: var(--main-color);
  padding: 20px;
}
.attribution a {
  color: purple;
  transition: color 0.5s;
}
.attribution a:hover {
  color: blueviolet;
}
